/* Import Fonts */

@font-face {
  font-family: "Ortica";
  font-weight: 700;
  src: url(../../fonts/ortica-bold.woff2), url(../../fonts/ortica-bold.woff);
}

@font-face {
  font-family: "Ortica";
  font-weight: 400;
  src: url(../../fonts/ortica-light.woff2), url(../../fonts/ortica-light.woff);
}

/* General Styles */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: #e9e9ea;
  --text-color: #000011;

  --nav-link: rgba(0, 0, 17, 0.6);
  --nav-link-selected: rgba(0, 0, 17, 1);
  --nav-underline: rgba(0, 0, 17, 0.1);
  --nav-underline-hover: rgba(0, 0, 17, 1);

  --timing: 0.25s;
  --bezier: cubic-bezier(0.215, 0.61, 0.355, 1);

  font-family: sans-serif, Arial;
  font-size: 16px;
  line-height: 1.5;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  padding: 0 3rem;

  transition: background-color calc(3 * var(--timing)) var(--bezier);
}

body.dark {
  --background: #1a1a1a;
  --text-color: #ffffff;

  --nav-link: rgba(255, 255, 255, 0.6);
  --nav-link-selected: rgba(255, 255, 255, 1);
  --nav-underline: rgba(255, 255, 255, 0.1);
  --nav-underline-hover: rgba(255, 255, 255, 1);
}

header,
section {
  font-size: 1rem;
}

/* Type Styles */

.txt-l1 {
  font-size: 3em;
}

.txt-bld {
  font-weight: 700;
}

/* Link Styles */

a {
  text-decoration: none;
  color: var(--nav-link);
  transition: color var(--timing);
}

a:hover {
  color: var(--nav-link-selected);
}

/* Nav Styles */

header {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  font-size: 1rem;
  padding: 2rem 0;
  margin: 0;
}

nav a {
  margin: 0 .75rem;
  padding: .25rem .75rem 0;
  font-size: .75em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav a.selected {
  color: var(--nav-link-selected);
}

nav a.selected {
  color: var(--nav-link-selected);

  pointer-events: none;
  cursor: default;
}

/* Content Styles */

main.main-content {
  width: 100%;
  /* background: blue; */
}

article.main-content-cont {
  width: 100%;
  /* border: 4px solid green; */
}

section.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  /* border: 1px solid red; */
}

.logo-mark {
  display: block;
  fill: var(--nav-link-selected);
  width: 100%;
  max-width: 16rem;
  /* background: yellow; */
}

/* Footer Styles */

footer {
  padding: 2rem 0;
  font-size: 1rem;
  /* background: pink; */
}

footer p {
  font-weight: 400;
  font-size: 1em;
  max-width: 100%;
  text-align: center;
}

/* Barba Styles */

.fade-leave-active,
.fade-enter-active {
  transition: opacity var(--timing) var(--bezier), transform var(--timing) var(--bezier);
}

.fade-leave {
  opacity: 1;
  transform: translate(0, 0);
}

.fade-leave-to {
  opacity: 0;
  transform: translate(0, 30px);
}

.fade-enter {
  opacity: 0;
  transform: translate(0, 30px);
}

.fade-enter-to {
  opacity: 1;
  transform: translate(0, 0);
}


div.wiper {
  position: fixed;
  top: 0;
  left: 0;
  width: 51%;
  height: 100%;
  z-index: 2;
  background-color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(0, -110%);
}

div.wiper-right {
  left: auto;
  right: 0;
}